body {
    background-color: #A9B8B1;
	margin-left: 20%;
}

h1 {
    width: 40%;
    color: #000000;
	margin-left: 10%;
}

.m {
    background-color: #494949;
	color: #FFFFFF
}
.numero {
    background-color: #C9CACB ;
}
.operacion {
    background-color: #522929;
	color: #FFFFFF
}

.calculadora {
    background-color: #272727;
    border-radius: 1em;
    font-size: 2em;
    padding: 4em;
    width: 50%;
}

.calculadora p {
    background-color: #4C5F4B;
    margin: 2em;
    padding: 0.5em;
	border: solid #494949 5px;
    text-align: right;
    font-size: 1.5em;
}

.calculadora ul {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    list-style: none;
    margin: 0em;
    padding: 0em;
}

.calculadora li {
    border-radius: 1em;
    text-align: center;
    margin: 15%;
    padding: 15% 0;
}