h1{
	background-color: #ECCAB4;
	width: 50%;
	font-size: 35px;
	border-radius: 20px;
	padding: 2px;
	text-align:center;
}
h2{
	font-size: 30px;
}
input{
	font-size: 20px;
}
p{
	font-size: 20px;
}
pre{
	font-size: 20px;
}